h2,h3 {
    font-family: Tahoma, sans-serif;
    margin: 0 0 20px 0;
}

a {
	color: #2F80ED;
	text-decoration: underline;
}

p {
    font-size: 1.125rem;
    line-height: 28px;
    padding: 0 0 20px 0;
}